﻿@using DrivingSchool.Models.EntityModel;
@using DrivingSchool.ViewModels;
@model StudentListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="row">
        <div class="col-sm-12">
            @*<button type="button" class="btn btn-primary" href="@Url.Action("Create", "Student")">
                    Add Student
                </button>*@
            <div style="float:right;">
                @Html.ActionLink("Add Student", "Create", "Student")
            </div>            
        </div>

        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Mode</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Student student in Model.Students)
                    {

                        <tr>
                            <td>
                                @student.FirstName
                            </td>
                            <td>
                                @student.LastName
                            </td>
                            <td>
                                @student.Address
                            </td>
                            <td>
                                @student.City
                            </td>
                            <td>
                                @student.AdmissionMode.AdmissionModeName
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Student" asp-route-id="@student.StudentID">
                                    Edit
                                </a>
                            </td>

                            <td>
                                <a asp-action="Delete" asp-controller="Student" asp-route-id="@student.StudentID">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>
